openapi: 3.0.3
info:
  title: Lotterie-Tippgemeinschaft API
  description: |
    Verwaltung einer Tippgemeinschaft für Lotto 6 aus 49.

    ## Fachliches Modell

    Jeder Teilnehmer hat pro **Tippperiode** genau eine Tippreihe aus sechs Zahlen. Sie gilt
    bis auf Widerruf und wandert automatisch auf jeden Tippschein - getippt wird einmal pro
    Periode, nicht pro Ziehung.

    Wie lang eine Periode ist, legt der Administrator fest: eine Periode über das ganze
    Tippjahr ergibt "eine Reihe pro Jahr", zwölf Monatsperioden erlauben einen monatlichen
    Wechsel. Perioden eines Tippjahres dürfen sich nicht überlappen.

    Zum Monatsanfang wird ein gemeinsamer **Tippschein** mit allen aktiven Reihen eingereicht.
    Seine Kosten werden auf die Teilnehmer aufgeteilt und sind im Laufe des Monats zu zahlen.

    Gewinne fallen je Ziehung für den Tippschein als Ganzes an, werden über das Tippjahr
    gesammelt und am Jahresende gleichmäßig auf alle Teilnehmer ausgeschüttet.

    ## Umfang dieser Version

    Basisversion. Teilnehmer haben **ausschließlich lesenden Zugriff**; alle Buchungen nimmt
    der Administrator vor. Selbstverwaltung (E1) und das Sportergebnis-Tippspiel (E2) sind
    nicht enthalten - die Spezifikation des Sportspiels liegt in
    `betting_game_api_e2_sports.yaml`.

    ## Konventionen

    - **Queries** (`GET`) liefern `200` mit einem aus dem Event Store projizierten Read Model.
    - **Commands** (`POST`/`PUT`) liefern `202 Accepted` mit einer `CommandResponse`.
      `GET /commands/{commandId}` liefert den Verarbeitungsstand.

      *Zum Stand der Implementierung:* Der Schreibvorgang läuft derzeit **synchron** ab —
      wenn der Aufrufer die `202` in Händen hält, sind Event Store und Lesemodelle bereits
      aktuell. Der Statuscode und der Command-Endpunkt halten den Vertrag für den Fall offen,
      dass das Schreiben später aus dem Request herauswandert.
    - Alle Commands akzeptieren einen **`Idempotency-Key`**-Header. Ein Retry mit demselben
      Schlüssel liefert die ursprüngliche `CommandResponse` mit ihrem ursprünglichen
      Statuscode und dem Header `Idempotent-Replay: true`, ohne erneut zu schreiben.
      Ein Schlüssel, dessen erster Versuch fehlschlug, bleibt vergeben: Die Wiederholung
      erhält `409` statt eines erfundenen Ergebnisses.
  version: 2.1.0
  contact:
    name: API Support
    email: support@bettinggame.com

servers:
  - url: https://api.bettinggame.com/v2
    description: Production server
  - url: https://staging-api.bettinggame.com/v2
    description: Staging server

security:
  - oidcAuth: []
  - bearerAuth: []

tags:
  - name: Teilnehmer
    description: Lesender Zugriff des Teilnehmers auf die eigenen Daten
  - name: Tippjahr
    description: Ziehungen und Gewinne des laufenden Tippjahres
  - name: Admin - Tippjahr
    description: Tippjahr, Mitglieder, Tippscheine und Ausschüttung
  - name: Admin - Tippreihen
    description: Zuordnung der Tippreihen
  - name: Admin - Ziehungen
    description: Ziehungen und deren Gewinne
  - name: Admin - Zahlungen
    description: Buchung der Tippgebühren
  - name: Operations
    description: Verarbeitungsstand der asynchronen Schreibseite

paths:
  # ============================================
  # TEILNEHMER - nur lesend
  # ============================================

  /participants/{participantId}/bet-row:
    get:
      tags:
        - Teilnehmer
      summary: Eigene Tippreihe abrufen (B-01)
      description: |
        Die Tippreihe des Teilnehmers für eine Tippperiode. Ohne `betPeriodId` wird die
        heute laufende Periode verwendet.
      operationId: getBetRow
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: betPeriodId
          in: query
          description: Standardmäßig die heute laufende Periode
          schema:
            type: integer
      responses:
        '200':
          description: Die Tippreihe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetRowReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Für diese Periode ist keine Reihe zugeordnet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /participants/{participantId}/memberships:
    get:
      tags:
        - Teilnehmer
      summary: Eigene Teilnahmen abrufen (B-02)
      description: |
        Teilnahmen des Teilnehmers je Tippjahr, inklusive der Tippscheine, auf denen die
        eigene Reihe tatsächlich stand. Bei unterjährigem Beitritt fehlt sie auf früheren
        Scheinen - genau das macht diese Ansicht sichtbar.
      operationId: getMemberships
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: tippYearId
          in: query
          description: Standardmäßig das laufende Tippjahr
          schema:
            type: integer
      responses:
        '200':
          description: Teilnahmen
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      $ref: '#/components/schemas/MembershipReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /participants/{participantId}/fees:
    get:
      tags:
        - Teilnehmer
      summary: Eigene Zahlungen abrufen (B-03)
      description: Die Tippgebühren des Teilnehmers je Tippschein mit Zahlungsstatus
      operationId: getParticipantFees
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: tippYearId
          in: query
          schema:
            type: integer
        - name: paymentStatus
          in: query
          schema:
            type: string
            enum: [open, paid, waived]
      responses:
        '200':
          description: Gebühren
          content:
            application/json:
              schema:
                type: object
                properties:
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeReadModel'
                  summary:
                    type: object
                    properties:
                      totalCharged:
                        type: number
                        format: decimal
                      totalOpen:
                        type: number
                        format: decimal
                      openCount:
                        type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /participants/{participantId}/payout-share:
    get:
      tags:
        - Teilnehmer
      summary: Eigenen Gewinnanteil abrufen (B-04)
      description: |
        Der anteilige Jahresgewinn des Teilnehmers. Solange die Ausschüttung nicht gebucht
        ist, wird `amount: null` mit dem bisher aufgelaufenen Zwischenstand geliefert.
      operationId: getPayoutShare
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: tippYearId
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Gewinnanteil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutShareReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================
  # TIPPJAHR - Ziehungen und Gewinne
  # ============================================

  /tipp-years/{tippYearId}/draws:
    get:
      tags:
        - Tippjahr
      summary: Ziehungen und Scheingewinne abrufen (B-05)
      description: |
        Die Ziehungen des Tippjahres mit dem Gewinn, den der **gesamte** Tippschein erzielt
        hat - nicht der eigene Anteil. Der entsteht erst mit der Jahresausschüttung.
      operationId: getDraws
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, drawn, evaluated]
        - name: withWinningsOnly
          in: query
          description: Nur Ziehungen, bei denen der Schein gewonnen hat
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Ziehungen
          content:
            application/json:
              schema:
                type: object
                properties:
                  tippYearId:
                    type: integer
                  draws:
                    type: array
                    items:
                      $ref: '#/components/schemas/DrawReadModel'
                  totalWinnings:
                    type: number
                    format: decimal
                    description: Summe über alle ausgewerteten Ziehungen des Jahres
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================
  # ADMIN - Tippreihen
  # ============================================

  /admin/participants/{participantId}/bet-row:
    put:
      tags:
        - Admin - Tippreihen
      summary: Tippreihe zuordnen (B-06)
      description: |
        Ordnet einem Teilnehmer die Tippreihe für eine Tippperiode zu (CQRS Command).

        Pro Teilnehmer und Periode ist genau eine Reihe zulässig - durchgesetzt über den
        Unique Key, nicht über eine Prüfung im Code. Eine bereits zugeordnete Reihe wird mit
        `409` abgelehnt; eine Korrektur innerhalb der laufenden Periode verlangt
        `replaceReason`.

        Wie oft eine Reihe wechseln darf, ergibt sich damit aus dem Zuschnitt der Perioden
        und ist eine Konfiguration des Tippjahres.
      operationId: assignBetRow
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignBetRowCommand'
      responses:
        '202':
          description: Zuordnung akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  # ============================================
  # ADMIN - Zahlungen
  # ============================================

  /admin/fees/{feeId}/payment:
    put:
      tags:
        - Admin - Zahlungen
      summary: Zahlungsstatus setzen (B-07)
      description: Bucht den Zahlungseingang einer Tippgebühr oder erlässt sie (CQRS Command)
      operationId: recordFeePayment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/FeeIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordFeePaymentCommand'
      responses:
        '202':
          description: Buchung akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /admin/fees:
    get:
      tags:
        - Admin - Zahlungen
      summary: Gebührenlage abrufen
      description: Alle Gebühren mit Zahlungsstatus, zur Übersicht über offene Posten
      operationId: getAllFees
      security:
        - bearerAuth: []
      parameters:
        - name: tippYearId
          in: query
          schema:
            type: integer
        - name: participantId
          in: query
          schema:
            type: integer
        - name: paymentStatus
          in: query
          schema:
            type: string
            enum: [open, paid, waived]
      responses:
        '200':
          description: Gebühren
          content:
            application/json:
              schema:
                type: object
                properties:
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # ============================================
  # ADMIN - Ziehungen
  # ============================================

  /admin/draws:
    post:
      tags:
        - Admin - Ziehungen
      summary: Ziehung eintragen (B-08)
      description: |
        Trägt eine Lottoziehung mit den sechs Gewinnzahlen und der Superzahl ein
        (CQRS Command). Ein doppeltes Ziehungsdatum wird mit `409` abgelehnt.
      operationId: recordDraw
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDrawCommand'
      responses:
        '202':
          description: Ziehung akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /admin/draws/{drawId}/winnings:
    put:
      tags:
        - Admin - Ziehungen
      summary: Gewinne einer Ziehung eintragen (B-09)
      description: |
        Trägt ein, was der Tippschein bei dieser Ziehung gewonnen hat (CQRS Command).

        Die Treffer je Reihe werden aus den Gewinnzahlen und den Reihen-Snapshots des
        Tippscheins berechnet; der eingetragene Betrag ist der Gewinn des gesamten Scheins.
      operationId: recordDrawWinnings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DrawIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDrawWinningsCommand'
      responses:
        '202':
          description: Gewinne akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'

  # ============================================
  # ADMIN - Tippjahr
  # ============================================

  /admin/tipp-years:
    get:
      tags:
        - Admin - Tippjahr
      summary: Tippjahre abrufen
      operationId: getTippYears
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [planned, running, closed, distributed]
      responses:
        '200':
          description: Tippjahre
          content:
            application/json:
              schema:
                type: object
                properties:
                  tippYears:
                    type: array
                    items:
                      $ref: '#/components/schemas/TippYearReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      tags:
        - Admin - Tippjahr
      summary: Tippjahr anlegen (B-10)
      description: |
        Legt ein Tippjahr mit frei wählbarem Zeitraum und dem Preis einer Reihe je Ziehung an
        (CQRS Command). Überlappende Zeiträume werden mit `409` abgelehnt.
      operationId: createTippYear
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTippYearCommand'
      responses:
        '202':
          description: Anlage akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /admin/tipp-years/{tippYearId}/bet-periods:
    get:
      tags:
        - Admin - Tippjahr
      summary: Tippperioden abrufen
      operationId: getBetPeriods
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
      responses:
        '200':
          description: Perioden des Tippjahres
          content:
            application/json:
              schema:
                type: object
                properties:
                  betPeriods:
                    type: array
                    items:
                      $ref: '#/components/schemas/BetPeriodReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    post:
      tags:
        - Admin - Tippjahr
      summary: Tippperiode anlegen (B-14)
      description: |
        Legt einen Gültigkeitszeitraum für Tippreihen fest (CQRS Command).

        Die Grenzen wählt der Administrator frei. Eine einzige Periode über das ganze
        Tippjahr ergibt "eine Reihe pro Jahr", zwölf Monatsperioden erlauben einen
        monatlichen Wechsel.

        Die Periode muss innerhalb des Tippjahres liegen und darf keine bestehende Periode
        desselben Jahres überlappen - sonst wären zwei Reihen desselben Teilnehmers am
        selben Tag gültig. Beides wird mit `409` abgelehnt.
      operationId: createBetPeriod
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBetPeriodCommand'
      responses:
        '202':
          description: Anlage akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /admin/tipp-years/{tippYearId}/members:
    post:
      tags:
        - Admin - Tippjahr
      summary: Teilnehmer aufnehmen (B-11)
      description: Nimmt einen Teilnehmer in ein Tippjahr auf (CQRS Command)
      operationId: addMember
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberCommand'
      responses:
        '202':
          description: Aufnahme akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /admin/tipp-years/{tippYearId}/tickets:
    post:
      tags:
        - Admin - Tippjahr
      summary: Tippschein erfassen (B-12)
      description: |
        Erfasst den monatlichen Tippschein (CQRS Command).

        Bündelt alle Reihen mit aktiver Teilnahme, kopiert sie als Snapshot auf den Schein,
        berechnet `rowCount × drawCount × ticketCostPerRow` und erzeugt je Teilnehmer eine
        Gebühr über den gleichen Anteil daran. Eine spätere Korrektur einer Tippreihe ändert
        einen eingereichten Schein nicht mehr.
      operationId: submitTicket
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTicketCommand'
      responses:
        '202':
          description: Tippschein akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  /admin/tipp-years/{tippYearId}/payout:
    post:
      tags:
        - Admin - Tippjahr
      summary: Jahresausschüttung buchen (B-13)
      description: |
        Bucht die Jahresausschüttung (CQRS Command).

        Summiert alle Scheingewinne des Tippjahres und teilt sie gleichmäßig auf die
        Teilnehmer auf - unabhängig davon, wie viele Perioden jemand bezahlt hat. Die
        Rundungsdifferenz geht auf den ersten Anteil.

        `409`, solange das Tippjahr nicht `closed` ist oder bereits ausgeschüttet wurde.
      operationId: distributePayout
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributePayoutCommand'
      responses:
        '202':
          description: Ausschüttung akzeptiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'

  # ============================================
  # OPERATIONS
  # ============================================

  /admin/audit/{aggregateType}/{aggregateId}:
    get:
      tags:
        - Operations
      summary: Event-Historie eines Aggregats einsehen (OPS-03)
      description: |
        Alle Events eines Aggregats, älteste zuerst.

        Zeigt Dinge, die in keinem Lesemodell stehen — etwa den Grund, aus dem eine Tippreihe
        innerhalb der laufenden Periode ersetzt wurde.
      operationId: getAuditTrail
      security:
        - bearerAuth: []
      parameters:
        - name: aggregateType
          in: path
          required: true
          schema:
            type: string
            enum: [participant, tipp_year, bet_period, bet_row, ticket, draw, fee]
        - name: aggregateId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Event-Historie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditTrailReadModel'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /admin/projections:
    get:
      tags:
        - Operations
      summary: Projektionen überwachen (OPS-04)
      description: |
        Stand aller Lesemodelle. `lag` zählt nur die Events, die diese Projektion auch
        konsumiert — eine Tippreihen-Projektion hinkt nicht hinterher, weil eine Gebühr
        gebucht wurde.
      operationId: getProjections
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Projektionen
          content:
            application/json:
              schema:
                type: object
                properties:
                  projections:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectionReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /admin/projections/{name}/rebuild:
    post:
      tags:
        - Operations
      summary: Projektion neu aufbauen (OPS-04)
      description: |
        Spielt eine Projektion aus dem Event Store neu ein. `all` baut alle auf.

        Läuft **synchron**; die Antwort ist der Zustand danach, keine Bestätigung.

        Die Liste enthält in der Regel mehr als die angeforderte Projektion: Die Lesemodelle
        hängen über Foreign Keys mit `ON DELETE CASCADE` zusammen, deshalb werden die davon
        abhängigen mit aufgebaut — sonst blieben sie leer.
      operationId: rebuildProjection
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          description: Name der Projektion oder `all`
          schema:
            type: string
      responses:
        '200':
          description: Neu aufgebaute Projektionen
          content:
            application/json:
              schema:
                type: object
                properties:
                  rebuilt:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectionReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /commands/{commandId}:
    get:
      tags:
        - Operations
      summary: Verarbeitungsstand eines Commands abfragen (OPS-01)
      description: |
        `commandId` ist der Wert aus der `CommandResponse`.

        **Hinweis:** Diese Implementierung schreibt synchron — wenn der Aufrufer die `202` hat,
        ist der Command bereits `completed`, und `projectionsUpToDate` ist immer `true`. Der
        Endpunkt ist dort nützlich, wo ein Retry nachschlägt, was der erste Versuch erzeugt hat.

        Nicht auf Administratoren beschränkt: Wer einen Command abgesetzt hat, darf erfahren,
        was daraus wurde, und die ID ist nicht erratbar.
      operationId: getCommandStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommandIdPath'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandStatusReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

# ============================================
# COMPONENTS
# ============================================

components:
  securitySchemes:
    oidcAuth:
      type: openIdConnect
      openIdConnectUrl: https://auth.bettinggame.com/.well-known/openid-configuration
      description: OIDC authentication

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from OIDC provider

  parameters:
    ParticipantIdPath:
      name: participantId
      in: path
      required: true
      schema:
        type: integer

    TippYearIdPath:
      name: tippYearId
      in: path
      required: true
      schema:
        type: integer

    DrawIdPath:
      name: drawId
      in: path
      required: true
      schema:
        type: integer

    FeeIdPath:
      name: feeId
      in: path
      required: true
      schema:
        type: integer

    CommandIdPath:
      name: commandId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Vom Client vergebener Schlüssel, der einen Command wiederholbar macht. Ein Retry mit
        demselben Schlüssel liefert die ursprüngliche CommandResponse zurück, ohne ein
        zweites Event zu schreiben.
      schema:
        type: string
        format: uuid

  schemas:
    # ============================================
    # READ MODELS
    # ============================================

    LottoNumbers:
      type: array
      description: Sechs verschiedene Zahlen aus 1 bis 49, aufsteigend sortiert
      minItems: 6
      maxItems: 6
      uniqueItems: true
      items:
        type: integer
        minimum: 1
        maximum: 49
      example: [3, 12, 19, 27, 33, 45]

    BetRowReadModel:
      type: object
      properties:
        betRowId:
          type: integer
        participantId:
          type: integer
        betPeriod:
          $ref: '#/components/schemas/BetPeriodReadModel'
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        assignedAt:
          type: string
          format: date-time
        changeableFrom:
          type: string
          format: date
          description: Beginn der nächsten Periode - erst dann ist die Reihe wieder änderbar
        ticketCount:
          type: integer
          description: Auf so vielen Tippscheinen stand diese Reihe bisher

    BetPeriodReadModel:
      type: object
      properties:
        betPeriodId:
          type: integer
        tippYearId:
          type: integer
        tippYearName:
          type: string
        name:
          type: string
          example: Q1 2026
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        sequence:
          type: integer
          description: Reihenfolge innerhalb des Tippjahres
        betRowCount:
          type: integer
          description: Wie viele Teilnehmer für diese Periode eine Reihe hinterlegt haben

    MembershipReadModel:
      type: object
      properties:
        membershipId:
          type: integer
        participantId:
          type: integer
        tippYearId:
          type: integer
        tippYearName:
          type: string
        status:
          type: string
          enum: [active, ended]
        joinedAt:
          type: string
          format: date-time
        leftAt:
          type: string
          format: date-time
          nullable: true
        tickets:
          type: array
          description: Tippscheine des Jahres und ob die eigene Reihe darauf stand
          items:
            type: object
            properties:
              ticketId:
                type: integer
              periodStart:
                type: string
                format: date
              periodEnd:
                type: string
                format: date
              status:
                type: string
                enum: [draft, submitted, settled]
              ownRowIncluded:
                type: boolean
              drawCount:
                type: integer

    FeeReadModel:
      type: object
      properties:
        feeId:
          type: integer
        participantId:
          type: integer
        displayName:
          type: string
        ticketId:
          type: integer
        tippYearId:
          type: integer
        periodStart:
          type: string
          format: date
        periodEnd:
          type: string
          format: date
        amount:
          type: number
          format: decimal
        dueDate:
          type: string
          format: date
        paymentStatus:
          type: string
          enum: [open, paid, waived]
        paidAt:
          type: string
          format: date-time
          nullable: true
        paymentMethod:
          type: string
          nullable: true
        bookedBy:
          type: string
          nullable: true

    PayoutShareReadModel:
      type: object
      properties:
        tippYearId:
          type: integer
        tippYearName:
          type: string
        tippYearStatus:
          type: string
          enum: [planned, running, closed, distributed]
        totalWinnings:
          type: number
          format: decimal
          description: Gewinnsumme des Tippscheins über das ganze Jahr
        participantCount:
          type: integer
          nullable: true
        amount:
          type: number
          format: decimal
          nullable: true
          description: Null, solange die Ausschüttung nicht gebucht ist
        provisionalAmount:
          type: number
          format: decimal
          nullable: true
          description: Zwischenstand vor der Ausschüttung, rein informativ
        paymentStatus:
          type: string
          enum: [open, paid]
          nullable: true
        distributedAt:
          type: string
          format: date-time
          nullable: true

    DrawReadModel:
      type: object
      properties:
        drawId:
          type: integer
        drawDate:
          type: string
          format: date
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        superzahl:
          type: integer
          minimum: 0
          maximum: 9
        status:
          type: string
          enum: [scheduled, drawn, evaluated]
        ticket:
          type: object
          nullable: true
          description: Der Tippschein, der an dieser Ziehung teilnahm
          properties:
            ticketId:
              type: integer
            rowCount:
              type: integer
            totalAmount:
              type: number
              format: decimal
              description: Gewinn des gesamten Scheins bei dieser Ziehung
            winningClasses:
              type: array
              items:
                type: object
                properties:
                  winningClass:
                    type: integer
                    minimum: 1
                    maximum: 9
                  rowCount:
                    type: integer
                  amount:
                    type: number
                    format: decimal
            bestMatch:
              type: object
              nullable: true
              properties:
                matchedNumbers:
                  type: integer
                superzahlMatched:
                  type: boolean

    TippYearReadModel:
      type: object
      properties:
        tippYearId:
          type: integer
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          enum: [planned, running, closed, distributed]
        ticketCostPerRow:
          type: number
          format: decimal
        memberCount:
          type: integer
        ticketCount:
          type: integer
        drawCount:
          type: integer
        totalWinnings:
          type: number
          format: decimal

    CommandStatusReadModel:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
        commandType:
          type: string
        status:
          type: string
          enum: [accepted, processing, completed, failed]
        aggregateType:
          type: string
          nullable: true
        aggregateId:
          type: string
          nullable: true
        resourceId:
          type: integer
          nullable: true
        httpStatus:
          type: integer
          nullable: true
          description: Status der ursprünglichen Antwort, wird bei einem Retry wiederholt
        projectionsUpToDate:
          type: boolean
        eventStorePosition:
          type: integer
        acceptedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: object
          nullable: true
          properties:
            message:
              type: string

    AuditTrailReadModel:
      type: object
      properties:
        aggregateType:
          type: string
        aggregateId:
          type: string
        streamId:
          type: string
          example: bet_row-12
        version:
          type: integer
          description: Version des jüngsten Events
        events:
          type: array
          items:
            type: object
            properties:
              position:
                type: integer
                description: Globale Position im Event Store
              version:
                type: integer
                description: Version innerhalb dieses Streams
              eventId:
                type: string
                format: uuid
              eventType:
                type: string
                example: bet_row.replaced
              occurredAt:
                type: string
                format: date-time
              causationId:
                type: string
                nullable: true
              correlationId:
                type: string
                nullable: true
              data:
                type: object
                description: Nutzlast des Events

    ProjectionReadModel:
      type: object
      properties:
        name:
          type: string
          example: bet_row_read_model
        status:
          type: string
          enum: [running, rebuilding, stopped, failed, unknown]
        lastProcessedPosition:
          type: integer
        headPosition:
          type: integer
          description: Position des jüngsten Events im Store
        lag:
          type: integer
          description: Noch nicht verarbeitete Events *dieser* Projektion
        upToDate:
          type: boolean
        updatedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
          nullable: true

    # ============================================
    # COMMANDS
    # ============================================

    AssignBetRowCommand:
      type: object
      required:
        - betPeriodId
        - numbers
      properties:
        betPeriodId:
          type: integer
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        replaceReason:
          type: string
          description: |
            Erforderlich, um eine bereits zugeordnete Reihe zu ersetzen. Ohne diesen Wert
            antwortet der Endpunkt mit 409 - regulär wechselt die Reihe erst mit der
            nächsten Periode.

    CreateBetPeriodCommand:
      type: object
      required:
        - name
        - startDate
        - endDate
      properties:
        name:
          type: string
          example: Q1 2026
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        sequence:
          type: integer
          default: 1

    RecordFeePaymentCommand:
      type: object
      required:
        - paymentStatus
      properties:
        paymentStatus:
          type: string
          enum: [open, paid, waived]
        paidAt:
          type: string
          format: date-time
          nullable: true
        paymentMethod:
          type: string
          enum: [bank_transfer, paypal, cash, other]
          nullable: true
        note:
          type: string
          description: Erforderlich beim Erlass einer Gebühr

    RecordDrawCommand:
      type: object
      required:
        - tippYearId
        - drawDate
        - numbers
        - superzahl
      properties:
        tippYearId:
          type: integer
        drawDate:
          type: string
          format: date
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        superzahl:
          type: integer
          minimum: 0
          maximum: 9

    RecordDrawWinningsCommand:
      type: object
      required:
        - totalAmount
      properties:
        totalAmount:
          type: number
          format: decimal
          description: Gewinn des gesamten Tippscheins bei dieser Ziehung
        winningClasses:
          type: array
          description: |
            Optionale Aufschlüsselung. Wird sie weggelassen, berechnet das System die Treffer
            je Reihe selbst und verteilt den Gesamtbetrag darauf.
          items:
            type: object
            required:
              - winningClass
              - amount
            properties:
              winningClass:
                type: integer
                minimum: 1
                maximum: 9
              amount:
                type: number
                format: decimal

    CreateTippYearCommand:
      type: object
      required:
        - name
        - startDate
        - endDate
        - ticketCostPerRow
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        ticketCostPerRow:
          type: number
          format: decimal
          description: Preis einer Reihe je Ziehung

    AddMemberCommand:
      type: object
      required:
        - participantId
      properties:
        participantId:
          type: integer
        joinedAt:
          type: string
          format: date-time
          nullable: true
          description: Standardmäßig jetzt

    SubmitTicketCommand:
      type: object
      required:
        - periodStart
        - periodEnd
        - drawCount
      properties:
        periodStart:
          type: string
          format: date
        periodEnd:
          type: string
          format: date
        drawCount:
          type: integer
          description: Anzahl der Ziehungen, an denen der Schein teilnimmt
        superzahl:
          type: integer
          minimum: 0
          maximum: 9
          nullable: true
          description: Aus der Losnummer des Scheins; gilt für alle Reihen darauf
        lotteryReference:
          type: string
          nullable: true

    DistributePayoutCommand:
      type: object
      required:
        - confirm
      properties:
        confirm:
          type: boolean
          description: Muss true sein - die Ausschüttung ist nicht rücknehmbar
        note:
          type: string

    # ============================================
    # COMMON
    # ============================================

    CommandResponse:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
        status:
          type: string
          enum: [accepted, processing, completed]
        message:
          type: string
        resourceId:
          type: integer
          nullable: true
        timestamp:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
          nullable: true
        timestamp:
          type: string
          format: date-time
        path:
          type: string

  responses:
    UnauthorizedError:
      description: Authentication required or invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ForbiddenError:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    BadRequestError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ConflictError:
      description: Request conflicts with the current state of the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
