openapi: 3.0.3
info:
  title: Lottery Syndicate API
  description: |
    Administration of a syndicate playing Lotto 6 aus 49.

    ## Domain model

    Each participant has exactly one bet row of six numbers per **bet period**. It stands
    until revoked and travels automatically onto every ticket - a bet is placed once per
    period, not once per draw.

    How long a period runs is up to the administrator: a single period spanning the whole
    tipp year yields "one row per year", twelve monthly periods allow a monthly change.
    Periods of one tipp year must not overlap.

    At the start of each month a shared **ticket** carrying all active rows is submitted.
    It is handed in for a **Laufzeit in weeks** and for Wednesday, Saturday or both - the
    period it covers and the number of draws it plays follow from that. Its cost is split
    across the participants and is due during that month.

    Winnings accrue per draw for the ticket as a whole, are collected over the tipp year
    and distributed evenly across all participants at the end of the year.

    ## Scope of this version

    Base version. Participants have **read-only access**; the administrator records every
    booking. Self-service (E1) and the sports-result betting game (E2) are not included -
    the sports game's specification lives in `betting_game_api_e2_sports.yaml`.

    ## Conventions

    - **Queries** (`GET`) return `200` with a read model projected from the event store.
    - **Commands** (`POST`/`PUT`) return `202 Accepted` with a `CommandResponse`.
      `GET /commands/{commandId}` returns the processing state.

      *On the state of the implementation:* writing currently happens **synchronously** -
      by the time the caller holds the `202`, event store and read models are already up
      to date. The status code and the command endpoint keep the contract open for the
      case where writing later moves out of the request.
    - Every command accepts an **`Idempotency-Key`** header. A retry with the same key
      returns the original `CommandResponse` with its original status code and the header
      `Idempotent-Replay: true`, without writing again. A key whose first attempt failed
      stays taken: the retry gets `409` rather than an invented result.

    ## Authentication

    Bearer tokens from Keycloak. The **signature is verified against the realm's JWKS
    endpoint** - identity and roles are therefore assertions made by Keycloak and not by
    the caller, which is what every authorisation rule in this API rests on.

    Two status codes that have to be kept apart:

    - `401` - the token is rejected. The reason is deliberately absent from the response.
    - `503` - Keycloak is unreachable, the signature cannot be checked right now. The call
      is repeatable; throwing the token away would be wrong.
  version: 2.6.0
  contact:
    name: API Support
    email: support@bettinggame.com

servers:
  - url: https://api.bettinggame.com/v2
    description: Production server
  - url: https://staging-api.bettinggame.com/v2
    description: Staging server

security:
  - oidcAuth: []
  - bearerAuth: []

tags:
  - name: Registration
    description: Self-registration of a participant (E1-01)
  - name: Participant
    description: Read-only access for a participant to their own data
  - name: Tipp Year
    description: Draws and winnings of the running tipp year
  - name: Admin - Tipp Year
    description: Tipp year, members, tickets and distribution
  - name: Admin - Participants
    description: Creating and listing participants
  - name: Admin - Bet Rows
    description: Assignment of bet rows
  - name: Admin - Draws
    description: Draws and their winnings
  - name: Admin - Payments
    description: Recording of ticket fees
  - name: Operations
    description: Processing state of the asynchronous write side

paths:
  # ============================================
  # SELF-REGISTRATION (E1-01)
  # ============================================

  /registrations:
    post:
      tags:
        - Registration
      summary: Register as a participant (E1-01)
      description: |
        Registers the **signed-in account** as a participant (CQRS command).

        The only write in this API that needs a token but no participant behind it - it is
        how one becomes a participant. The account is taken from the token's `sub` and is
        never read from the body: a caller who could name somebody else's account would be
        occupying it before they get there.

        What it creates is **pending** - a request, not a membership. An administrator
        decides through `PUT /admin/participants/{id}/status`, where saying yes to a pending
        participant is recorded as the approval it is. Until then the account cannot join a
        tipp year (`409` from B-11) and is not offered by any picker.

        `409` for a second registration from the same account, whether it is still waiting
        or already approved.

        **No attribute has to be set in Keycloak afterwards.** Where a token carries no
        `participant_id` claim, the API resolves the account through the subject recorded
        here - see KEYCLOAK.md.
      operationId: registerParticipant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterParticipantCommand'
      responses:
        '202':
          description: Registration accepted, waiting for approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /registrations/me:
    get:
      tags:
        - Registration
      summary: The state of one's own registration (E1-01)
      description: |
        What became of the registration of the account that is asking.

        `registered: false` is an answer, not a `404`: asking is legitimate for anyone
        signed in, and "you have not registered" is what the interface needs in order to
        offer the form.

        An approved registration needs no answer here - by then the participant endpoints
        work.
      operationId: getMyRegistration
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The registration, or the fact that there is none
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyRegistration'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # PARTICIPANT - read only
  # ============================================

  /participants/{participantId}/bet-row:
    get:
      tags:
        - Participant
      summary: Retrieve own bet row (B-01)
      description: |
        The participant's bet row for a bet period. Without `betPeriodId` the period
        running today is used.
      operationId: getBetRow
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: betPeriodId
          in: query
          description: Defaults to the period running today
          schema:
            type: integer
      responses:
        '200':
          description: The bet row
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetRowReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: No row is assigned for this period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /participants/{participantId}/memberships:
    get:
      tags:
        - Participant
      summary: Retrieve own memberships (B-02)
      description: |
        The participant's memberships per tipp year, including the tickets their own row
        actually appeared on. After joining mid-year it is missing from earlier tickets -
        which is precisely what this view makes visible.
      operationId: getMemberships
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: tippYearId
          in: query
          description: Defaults to the running tipp year
          schema:
            type: integer
      responses:
        '200':
          description: Memberships
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      $ref: '#/components/schemas/MembershipReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /participants/{participantId}/fees:
    get:
      tags:
        - Participant
      summary: Retrieve own payments (B-03)
      description: The participant's ticket fees per ticket, with payment status
      operationId: getParticipantFees
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: tippYearId
          in: query
          schema:
            type: integer
        - name: paymentStatus
          in: query
          schema:
            type: string
            enum: [open, paid, waived]
      responses:
        '200':
          description: Fees
          content:
            application/json:
              schema:
                type: object
                properties:
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeReadModel'
                  summary:
                    type: object
                    properties:
                      totalCharged:
                        type: number
                        format: decimal
                      totalOpen:
                        type: number
                        format: decimal
                      openCount:
                        type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /participants/{participantId}/payout-share:
    get:
      tags:
        - Participant
      summary: Retrieve own payout share (B-04)
      description: |
        The participant's proportional yearly winnings. As long as the distribution has not
        been recorded, `amount: null` is returned along with the interim total so far.
      operationId: getPayoutShare
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - name: tippYearId
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Payout share
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutShareReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # TIPP YEAR - draws and winnings
  # ============================================

  /tipp-years/{tippYearId}/draws:
    get:
      tags:
        - Tipp Year
      summary: Retrieve draws and ticket winnings (B-05)
      description: |
        The tipp year's draws with the winnings the **whole** ticket achieved - not one's
        own share. That only comes into being with the yearly distribution.
      operationId: getDraws
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, drawn, evaluated]
        - name: withWinningsOnly
          in: query
          description: Only draws where the ticket won something
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Draws
          content:
            application/json:
              schema:
                type: object
                properties:
                  tippYearId:
                    type: integer
                  draws:
                    type: array
                    items:
                      $ref: '#/components/schemas/DrawReadModel'
                  totalWinnings:
                    type: number
                    format: decimal
                    description: Sum over all evaluated draws of the year
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # ADMIN - participants
  # ============================================

  /admin/participants:
    get:
      tags:
        - Admin - Participants
      summary: List participants (B-21)
      description: |
        All participants, sorted by display name.

        Deliberately administrator-only: a participant sees exclusively their own data and
        has no business enumerating the others (B-16). The list fills the dropdowns of the
        admin views, which would otherwise have to ask for a bare participant ID.
      operationId: getParticipants
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: |
            `active` returns only the participants who may play - what a picker asks for,
            because B-11 refuses the others anyway. `pending` is what self-registration
            (E1-01) has brought in and is waiting for a decision. Absent returns everybody,
            which is what the roster shows. An unknown value is `400`.
          schema:
            type: string
            enum: [pending, active, inactive]
      responses:
        '200':
          description: List of participants
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParticipantSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

    post:
      tags:
        - Admin - Participants
      summary: Create participant (B-21)
      description: |
        Creates a participant (CQRS command).

        **No user account is linked**: identity comes from the Keycloak token, and the
        `user` table dates from before that. For someone to see their own data, the
        `resourceId` handed out here has to be stored in the realm as a `participant_id`
        attribute. Self-registration is E1-01.

        The participant is active immediately - whatever the administrator records is
        approved by the act of recording it.
      operationId: createParticipant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateParticipantCommand'
      responses:
        '202':
          description: Participant accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/participants/{participantId}:
    put:
      tags:
        - Admin - Participants
      summary: Rename a participant (B-25)
      description: |
        Corrects the name a participant is listed under (CQRS command).

        The correction reaches everything at once: fees, rows, memberships and payout
        shares join the participant rather than copying the name. What was true at the time
        stays in the event, which records the previous name alongside the new one.

        The name is the only thing about a participant that can be corrected. `409` when it
        is the name they already have — an event that describes no change does not belong
        in the history.
      operationId: renameParticipant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameParticipantCommand'
      responses:
        '202':
          description: Rename accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/participants/{participantId}/status:
    put:
      tags:
        - Admin - Participants
      summary: Set a participant active or inactive (B-25)
      description: |
        Records that somebody has left the syndicate, or come back (CQRS command).

        **Inactive is not deleted.** Memberships, bet rows, fees and payout shares of
        played years stay exactly as they are; a participant is referenced by all of them
        and removing the row would either take them along or leave them pointing nowhere.
        What changes is the future: an inactive participant is not offered by
        `GET /admin/participants?active=true` and is refused by B-11 with `409`.

        `409` when they already have that status. `isActive` is required — a body without
        it would deactivate somebody by default.
      operationId: changeParticipantStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeParticipantStatusCommand'
      responses:
        '202':
          description: Status change accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # ADMIN - bet rows
  # ============================================

  /admin/participants/{participantId}/bet-row:
    put:
      tags:
        - Admin - Bet Rows
      summary: Assign bet row (B-06)
      description: |
        Assigns a participant their bet row for a bet period (CQRS command).

        Exactly one row per participant and period is allowed - enforced through the unique
        key, not through a check in code. An already assigned row is rejected with `409`; a
        correction within the running period requires `replaceReason`.

        How often a row may change therefore follows from how the periods are cut, and is a
        configuration of the tipp year.
      operationId: assignBetRow
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ParticipantIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignBetRowCommand'
      responses:
        '202':
          description: Assignment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # ADMIN - payments
  # ============================================

  /admin/fees/{feeId}/payment:
    put:
      tags:
        - Admin - Payments
      summary: Set payment status (B-07)
      description: Records the incoming payment of a ticket fee, or waives it (CQRS command)
      operationId: recordFeePayment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/FeeIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordFeePaymentCommand'
      responses:
        '202':
          description: Booking accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/fees:
    get:
      tags:
        - Admin - Payments
      summary: Retrieve the fee situation
      description: All fees with payment status, for an overview of outstanding items
      operationId: getAllFees
      security:
        - bearerAuth: []
      parameters:
        - name: tippYearId
          in: query
          schema:
            type: integer
        - name: participantId
          in: query
          schema:
            type: integer
        - name: paymentStatus
          in: query
          schema:
            type: string
            enum: [open, paid, waived]
      responses:
        '200':
          description: Fees
          content:
            application/json:
              schema:
                type: object
                properties:
                  fees:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeeReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # ADMIN - draws
  # ============================================

  /admin/draws:
    post:
      tags:
        - Admin - Draws
      summary: Record draw (B-08, B-22)
      description: |
        Records a lottery draw with its six winning numbers and the bonus number (CQRS
        command). A duplicate draw date is rejected with `409`.

        B-22: recording also evaluates every row of the ticket covering the draw date
        against the numbers and stores the hits and winning classes per row. The amounts
        stay at `0.00` until the winnings are recorded (B-09) — what the ticket won is not
        known yet. A draw that no ticket covers is recorded all the same and is evaluated
        when its winnings arrive.
      operationId: recordDraw
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDrawCommand'
      responses:
        '202':
          description: Draw accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/draws/{drawId}/winnings:
    put:
      tags:
        - Admin - Draws
      summary: Record the winnings of a draw (B-09, B-23)
      description: |
        Records what the ticket won on this draw (CQRS command).

        The hits per row are computed from the winning numbers and the ticket's row
        snapshots. Where the statement is read class by class, the amount entered is what
        **one** row of that class was paid and the ticket's total follows from the rows -
        nobody multiplies anything by hand. Since B-22 the hits are already known from the
        draw — this recomputes them with the money in hand, which is also how a draw
        recorded before its ticket gets its evaluation.

        **An evaluated draw may be recorded again** to correct a statement read wrongly;
        it is also where B-28 sends a draw whose figures were wrong rather than its
        numbers. One draw has one result: every recording replaces the one before it,
        including which ticket it is booked to, and the rows are evaluated afresh against
        the ticket covering the draw now.
      operationId: recordDrawWinnings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DrawIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDrawWinningsCommand'
      responses:
        '202':
          description: Winnings accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # ADMIN - tipp year
  # ============================================

  /admin/tipp-years:
    get:
      tags:
        - Admin - Tipp Year
      summary: Retrieve tipp years
      operationId: getTippYears
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [planned, running, closed, distributed]
      responses:
        '200':
          description: Tipp years
          content:
            application/json:
              schema:
                type: object
                properties:
                  tippYears:
                    type: array
                    items:
                      $ref: '#/components/schemas/TippYearReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

    post:
      tags:
        - Admin - Tipp Year
      summary: Create tipp year (B-10)
      description: |
        Creates a tipp year with a freely chosen period and its price list (CQRS command).
        Overlapping periods are rejected with `409`.

        The price list is two-part, the way the lottery company charges: a price per row and
        draw, plus a Bearbeitungsentgelt per Spielauftrag whose rate depends on whether the
        order runs one week or longer.
      operationId: createTippYear
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTippYearCommand'
      responses:
        '202':
          description: Creation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/tipp-years/{tippYearId}/status:
    put:
      tags:
        - Admin - Tipp Year
      summary: Set the status of a tipp year (B-18)
      description: |
        Sets the status of a tipp year (CQRS command).

        **Every** transition is allowed, backwards ones included. That is deliberate: a
        year closed too early has to be reopenable, and that correction belongs in the
        event history rather than in a manual `UPDATE` nobody ever sees again.

        One rule remains, and it spans aggregates: **at most one tipp year is `running` at
        a time.** Otherwise it would no longer be unambiguous which year a draw belongs to,
        and it would count towards two distributions. A second running year is rejected
        with `409`, naming the year that blocks it.

        Setting the status that is already set is likewise `409` - an event that describes
        no change does not belong in the history.

        Only a `running` year accepts tickets (B-12); distribution happens only out of
        `closed` (B-13).
      operationId: changeTippYearStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeTippYearStatusCommand'
      responses:
        '202':
          description: Status change accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/tipp-years/{tippYearId}/bet-periods:
    get:
      tags:
        - Admin - Tipp Year
      summary: Retrieve bet periods
      operationId: getBetPeriods
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
      responses:
        '200':
          description: The tipp year's periods
          content:
            application/json:
              schema:
                type: object
                properties:
                  betPeriods:
                    type: array
                    items:
                      $ref: '#/components/schemas/BetPeriodReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

    post:
      tags:
        - Admin - Tipp Year
      summary: Create bet period (B-14)
      description: |
        Defines a validity window for bet rows (CQRS command).

        The administrator picks the boundaries freely. A single period spanning the whole
        tipp year yields "one row per year", twelve monthly periods allow a monthly change.

        The period has to lie within the tipp year and must not overlap an existing period
        of the same year - otherwise two rows of the same participant would be valid on the
        same day. Both are rejected with `409`.
      operationId: createBetPeriod
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBetPeriodCommand'
      responses:
        '202':
          description: Creation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/tipp-years/{tippYearId}/members:
    post:
      tags:
        - Admin - Tipp Year
      summary: Add member (B-11)
      description: Adds a participant to a tipp year (CQRS command)
      operationId: addMember
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberCommand'
      responses:
        '202':
          description: Membership accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/tipp-years/{tippYearId}/tickets:
    post:
      tags:
        - Admin - Tipp Year
      summary: Submit ticket (B-12)
      description: |
        Records the monthly ticket (CQRS command).

        What is handed in is a day, a Laufzeit in weeks and the draw days. The period's
        end (`periodStart + durationWeeks * 7 - 1` days) and the number of draws
        (`durationWeeks` × one or two) are **derived** - sending them is not possible, so
        a ticket cannot be billed for more draws than it plays.

        Bundles all rows with an active membership, copies them onto the ticket as a
        snapshot, computes
        `rowCount × drawCount × ticketCostPerRow + processingFee` and creates one fee per
        participant over an equal share of it. A later correction to a bet row no longer
        changes a submitted ticket.

        The Bearbeitungsentgelt comes from the tipp year's price list, picked by the length
        of this Spielauftrag, and is recorded on the ticket - a later change to the rates
        does not rewrite what a submitted ticket cost.

        Because the fee is charged once rather than per row, the total is generally not a
        multiple of the row count. The shares are therefore split in whole cents with the
        remainder on the first one, so they add back up to the ticket exactly.
      operationId: submitTicket
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTicketCommand'
      responses:
        '202':
          description: Ticket accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/tipp-years/{tippYearId}/payout:
    post:
      tags:
        - Admin - Tipp Year
      summary: Record the yearly distribution (B-13)
      description: |
        Records the yearly distribution (CQRS command).

        Sums all ticket winnings of the tipp year and splits them evenly across the
        participants - regardless of how many periods anyone paid for. The rounding
        difference goes onto the first share.

        `409` for as long as the tipp year is not `closed`, or was already distributed.
      operationId: distributePayout
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TippYearIdPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributePayoutCommand'
      responses:
        '202':
          description: Distribution accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  # ============================================
  # OPERATIONS
  # ============================================

  /admin/audit/{aggregateType}/{aggregateId}:
    get:
      tags:
        - Operations
      summary: Inspect the event history of an aggregate (OPS-03)
      description: |
        All events of an aggregate, oldest first.

        Shows things no read model holds - such as the reason a bet row was replaced within
        the running period.
      operationId: getAuditTrail
      security:
        - bearerAuth: []
      parameters:
        - name: aggregateType
          in: path
          required: true
          schema:
            type: string
            enum: [participant, tipp_year, bet_period, bet_row, ticket, draw, fee]
        - name: aggregateId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Event history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditTrailReadModel'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/projections:
    get:
      tags:
        - Operations
      summary: Monitor projections (OPS-04)
      description: |
        State of all read models. `lag` counts only the events this projection actually
        consumes - a bet-row projection does not fall behind because a fee was recorded.
      operationId: getProjections
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Projections
          content:
            application/json:
              schema:
                type: object
                properties:
                  projections:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectionReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /admin/projections/{name}/rebuild:
    post:
      tags:
        - Operations
      summary: Rebuild projection (OPS-04)
      description: |
        Replays a projection from the event store. `all` rebuilds every one of them.

        Runs **synchronously**; the response is the state afterwards, not an acknowledgement.

        The list usually holds more than the requested projection: the read models hang
        together through foreign keys with `ON DELETE CASCADE`, so the dependent ones are
        rebuilt along with it - otherwise they would stay empty.
      operationId: rebuildProjection
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          description: Name of the projection, or `all`
          schema:
            type: string
      responses:
        '200':
          description: Rebuilt projections
          content:
            application/json:
              schema:
                type: object
                properties:
                  rebuilt:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectionReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

  /commands/{commandId}:
    get:
      tags:
        - Operations
      summary: Query the processing state of a command (OPS-01)
      description: |
        `commandId` is the value from the `CommandResponse`.

        **Note:** this implementation writes synchronously - by the time the caller holds
        the `202` the command is already `completed`, and `projectionsUpToDate` is always
        `true`. The endpoint is useful where a retry looks up what the first attempt
        produced.

        Not restricted to administrators: whoever issued a command may learn what became of
        it, and the ID is not guessable.
      operationId: getCommandStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CommandIdPath'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandStatusReadModel'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'

# ============================================
# COMPONENTS
# ============================================

components:
  securitySchemes:
    oidcAuth:
      type: openIdConnect
      openIdConnectUrl: https://auth.bettinggame.com/.well-known/openid-configuration
      description: OIDC authentication

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from OIDC provider

  parameters:
    ParticipantIdPath:
      name: participantId
      in: path
      required: true
      schema:
        type: integer

    TippYearIdPath:
      name: tippYearId
      in: path
      required: true
      schema:
        type: integer

    DrawIdPath:
      name: drawId
      in: path
      required: true
      schema:
        type: integer

    FeeIdPath:
      name: feeId
      in: path
      required: true
      schema:
        type: integer

    CommandIdPath:
      name: commandId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    IdempotencyKeyHeader:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        A key issued by the client that makes a command repeatable. A retry with the same
        key returns the original CommandResponse, without writing a second event.
      schema:
        type: string
        format: uuid

  schemas:
    # ============================================
    # READ MODELS
    # ============================================

    LottoNumbers:
      type: array
      description: Six distinct numbers from 1 to 49, sorted ascending
      minItems: 6
      maxItems: 6
      uniqueItems: true
      items:
        type: integer
        minimum: 1
        maximum: 49
      example: [3, 12, 19, 27, 33, 45]

    BetRowReadModel:
      type: object
      properties:
        betRowId:
          type: integer
        participantId:
          type: integer
        betPeriod:
          $ref: '#/components/schemas/BetPeriodReadModel'
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        assignedAt:
          type: string
          format: date-time
        changeableFrom:
          type: string
          format: date
          description: Start of the next period - only then is the row changeable again
        ticketCount:
          type: integer
          description: The number of tickets this row has appeared on so far

    BetPeriodReadModel:
      type: object
      properties:
        betPeriodId:
          type: integer
        tippYearId:
          type: integer
        tippYearName:
          type: string
        name:
          type: string
          example: Q1 2026
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        sequence:
          type: integer
          description: Ordering within the tipp year
        betRowCount:
          type: integer
          description: How many participants have stored a row for this period

    MembershipReadModel:
      type: object
      properties:
        membershipId:
          type: integer
        participantId:
          type: integer
        tippYearId:
          type: integer
        tippYearName:
          type: string
        status:
          type: string
          enum: [active, ended]
        joinedAt:
          type: string
          format: date-time
        leftAt:
          type: string
          format: date-time
          nullable: true
        tickets:
          type: array
          description: The year's tickets, and whether one's own row appeared on them
          items:
            type: object
            properties:
              ticketId:
                type: integer
              periodStart:
                type: string
                format: date
              periodEnd:
                type: string
                format: date
              status:
                type: string
                enum: [draft, submitted, settled]
              ownRowIncluded:
                type: boolean
              durationWeeks:
                type: integer
                nullable: true
                description: Null on tickets submitted before the Laufzeit was recorded
              drawDays:
                type: string
                nullable: true
                enum: [wednesday, saturday, both]
              drawCount:
                type: integer
                description: Derived from the Laufzeit and the draw days

    FeeReadModel:
      type: object
      properties:
        feeId:
          type: integer
        participantId:
          type: integer
        displayName:
          type: string
        ticketId:
          type: integer
        tippYearId:
          type: integer
        periodStart:
          type: string
          format: date
        periodEnd:
          type: string
          format: date
        amount:
          type: number
          format: decimal
        dueDate:
          type: string
          format: date
        paymentStatus:
          type: string
          enum: [open, paid, waived]
        paidAt:
          type: string
          format: date-time
          nullable: true
        paymentMethod:
          type: string
          nullable: true
        bookedBy:
          type: string
          nullable: true

    PayoutShareReadModel:
      type: object
      properties:
        tippYearId:
          type: integer
        tippYearName:
          type: string
        tippYearStatus:
          type: string
          enum: [planned, running, closed, distributed]
        totalWinnings:
          type: number
          format: decimal
          description: Total winnings of the ticket over the whole year
        participantCount:
          type: integer
          nullable: true
        amount:
          type: number
          format: decimal
          nullable: true
          description: Null for as long as the distribution has not been recorded
        provisionalAmount:
          type: number
          format: decimal
          nullable: true
          description: Interim total before the distribution, purely informational
        paymentStatus:
          type: string
          enum: [open, paid]
          nullable: true
        distributedAt:
          type: string
          format: date-time
          nullable: true

    DrawReadModel:
      type: object
      properties:
        drawId:
          type: integer
        drawDate:
          type: string
          format: date
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        superzahl:
          type: integer
          minimum: 0
          maximum: 9
        status:
          type: string
          enum: [scheduled, drawn, evaluated]
        ticket:
          type: object
          nullable: true
          description: |
            The ticket that took part in this draw - the one whose period contains the draw
            date. Present from the moment the ticket exists, which is generally before
            anyone knows what it won; `null` only when no ticket covers the date at all.

            Periods may overlap, so where several tickets cover the date this is the one
            handed in last. It is the same one the evaluation used, which is why the
            Losnummer is part of the answer: it identifies the slip this all refers to.
          properties:
            ticketId:
              type: integer
            lotteryReference:
              type: string
              nullable: true
              description: |
                B-26: the Losnummer of the Spielauftrag, as printed on the slip. `null`
                where none was recorded.
            superzahl:
              type: integer
              minimum: 0
              maximum: 9
              nullable: true
              description: |
                B-26: the ticket's own Superzahl - the last digit of the Losnummer, and the
                one every row of this ticket is measured against. Not to be confused with
                the `superzahl` of the draw above, which is the one that was drawn.
            rowCount:
              type: integer
            totalAmount:
              type: number
              format: decimal
              nullable: true
              description: |
                Winnings of the whole ticket on this draw, `null` for as long as none have
                been recorded. That is not the same as `0.00`, which says the ticket won
                nothing on a draw somebody has looked at.
            winningClasses:
              type: array
              items:
                type: object
                properties:
                  winningClass:
                    type: integer
                    minimum: 1
                    maximum: 9
                  rowCount:
                    type: integer
                  amount:
                    type: number
                    format: decimal
            bestMatch:
              type: object
              nullable: true
              properties:
                matchedNumbers:
                  type: integer
                superzahlMatched:
                  type: boolean
            rows:
              type: array
              description: |
                B-24: every row the ticket carried into this draw, winning or not, with the
                numbers as they were printed on it. Ordered by participant.
              items:
                type: object
                properties:
                  ticketRowId:
                    type: integer
                  participantId:
                    type: integer
                  displayName:
                    type: string
                  numbers:
                    $ref: '#/components/schemas/LottoNumbers'
                  matchedNumbers:
                    type: integer
                    nullable: true
                    description: '`null` while the row has not been evaluated'
                  superzahlMatched:
                    type: boolean
                  winningClass:
                    type: integer
                    nullable: true
                    minimum: 1
                    maximum: 9
                    description: '`null` when the row won nothing'
                  amount:
                    type: number
                    format: decimal
                    description: The part of the ticket's winnings attributable to this row

    TippYearReadModel:
      type: object
      properties:
        tippYearId:
          type: integer
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        status:
          type: string
          enum: [planned, running, closed, distributed]
        ticketCostPerRow:
          type: number
          format: decimal
        processingFeeSingleWeek:
          type: number
          format: decimal
          description: Fee per Spielauftrag covering at most one week
        processingFeeMultiWeek:
          type: number
          format: decimal
          description: Fee per Spielauftrag running longer than one week
        memberCount:
          type: integer
        ticketCount:
          type: integer
        drawCount:
          type: integer
        totalWinnings:
          type: number
          format: decimal

    CommandStatusReadModel:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
        commandType:
          type: string
        status:
          type: string
          enum: [accepted, processing, completed, failed]
        aggregateType:
          type: string
          nullable: true
        aggregateId:
          type: string
          nullable: true
        resourceId:
          type: integer
          nullable: true
        httpStatus:
          type: integer
          nullable: true
          description: Status of the original response, repeated on a retry
        projectionsUpToDate:
          type: boolean
        eventStorePosition:
          type: integer
        acceptedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: object
          nullable: true
          properties:
            message:
              type: string

    AuditTrailReadModel:
      type: object
      properties:
        aggregateType:
          type: string
        aggregateId:
          type: string
        streamId:
          type: string
          example: bet_row-12
        version:
          type: integer
          description: Version of the most recent event
        events:
          type: array
          items:
            type: object
            properties:
              position:
                type: integer
                description: Global position in the event store
              version:
                type: integer
                description: Version within this stream
              eventId:
                type: string
                format: uuid
              eventType:
                type: string
                example: bet_row.replaced
              occurredAt:
                type: string
                format: date-time
              causationId:
                type: string
                nullable: true
              correlationId:
                type: string
                nullable: true
              data:
                type: object
                description: Payload of the event

    ProjectionReadModel:
      type: object
      properties:
        name:
          type: string
          example: bet_row_read_model
        status:
          type: string
          enum: [running, rebuilding, stopped, failed, unknown]
        lastProcessedPosition:
          type: integer
        headPosition:
          type: integer
          description: Position of the most recent event in the store
        lag:
          type: integer
          description: Events *this* projection has not processed yet
        upToDate:
          type: boolean
        updatedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
          nullable: true

    # ============================================
    # COMMANDS
    # ============================================

    AssignBetRowCommand:
      type: object
      required:
        - betPeriodId
        - numbers
      properties:
        betPeriodId:
          type: integer
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        replaceReason:
          type: string
          description: |
            Required in order to replace an already assigned row. Without this value the
            endpoint answers 409 - regularly the row only changes with the next period.

    CreateParticipantCommand:
      type: object
      required:
        - displayName
      properties:
        displayName:
          type: string
          minLength: 2
          maxLength: 50
          example: Erika Mustermann

    RegisterParticipantCommand:
      type: object
      required:
        - displayName
      properties:
        displayName:
          type: string
          minLength: 2
          maxLength: 50
          description: |
            The name to be listed under. The account itself comes from the token - there is
            no field for it, deliberately.
          example: Erika Mustermann

    MyRegistration:
      type: object
      required:
        - registered
      properties:
        registered:
          type: boolean
          description: False where this account has never registered - not an error
        participantId:
          type: integer
          description: Present once registered
        displayName:
          type: string
        status:
          type: string
          enum: [pending, active, inactive]
          description: |
            `pending` waits for the administrator, `active` may play, `inactive` is a
            refused registration or somebody who left.

    RenameParticipantCommand:
      type: object
      required:
        - displayName
      properties:
        displayName:
          type: string
          minLength: 2
          maxLength: 50
          example: Erika Mustermann

    ChangeParticipantStatusCommand:
      type: object
      required:
        - isActive
      properties:
        isActive:
          type: boolean
          description: |
            `false` for somebody who has left the syndicate, `true` to bring them back.
            Required: a missing value would deactivate a participant by default.

    ParticipantSummary:
      type: object
      properties:
        participantId:
          type: integer
          example: 3
        displayName:
          type: string
          example: Erika Mustermann
        status:
          type: string
          enum: [pending, active, inactive]
          description: |
            `pending` is a self-registration waiting for a decision (E1-01), `inactive` a
            refused one or somebody who left (B-25). Only `active` may join a tipp year.
        isActive:
          type: boolean
          description: '`status == active`, for callers that only ask "may this person play?"'
        selfRegistered:
          type: boolean
          description: Whether they registered themselves rather than being entered (E1-01)
        registeredAt:
          type: string
          format: date-time

    CreateBetPeriodCommand:
      type: object
      required:
        - name
        - startDate
        - endDate
      properties:
        name:
          type: string
          example: Q1 2026
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        sequence:
          type: integer
          default: 1

    RecordFeePaymentCommand:
      type: object
      required:
        - paymentStatus
      properties:
        paymentStatus:
          type: string
          enum: [open, paid, waived]
        paidAt:
          type: string
          format: date-time
          nullable: true
        paymentMethod:
          type: string
          enum: [bank_transfer, paypal, cash, other]
          nullable: true
        note:
          type: string
          description: Required when waiving a fee

    RecordDrawCommand:
      type: object
      required:
        - tippYearId
        - drawDate
        - numbers
        - superzahl
      properties:
        tippYearId:
          type: integer
        drawDate:
          type: string
          format: date
        numbers:
          $ref: '#/components/schemas/LottoNumbers'
        superzahl:
          type: integer
          minimum: 0
          maximum: 9

    RecordDrawWinningsCommand:
      type: object
      description: |
        B-23: state the winnings as one sum for the ticket **or** class by class - exactly
        one of the two. `400` when both are missing, and `400` when both are sent: class by
        class the total is derived, so a second figure beside it cannot be checked.

        Class by class, `amountPerRow` is what **one** row of that class was paid - the
        figure the published statement gives. The rest is the system's:

            total = Σ over the classes: amountPerRow × rows of the ticket in that class

        Which rows are in which class comes from the ticket's own row snapshots, so a class
        no row reached contributes nothing however large its amount. A class listed twice
        is `400`.
      anyOf:
        - required: [totalAmount]
        - required: [winningClasses]
      properties:
        totalAmount:
          type: number
          format: decimal
          description: |
            Winnings of the whole ticket on this draw, for a statement that gives one
            figure. The system computes the hits per row itself and spreads the amount over
            the rows that won. Must be omitted when `winningClasses` is sent.
        winningClasses:
          type: array
          description: What one row of each winning class was paid. Sent without `totalAmount`.
          items:
            type: object
            required:
              - winningClass
              - amountPerRow
            properties:
              winningClass:
                type: integer
                minimum: 1
                maximum: 9
              amountPerRow:
                type: number
                format: decimal
                description: The amount for a single row of this class, not for all of them

    CreateTippYearCommand:
      type: object
      required:
        - name
        - startDate
        - endDate
        - ticketCostPerRow
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        ticketCostPerRow:
          type: number
          format: decimal
          description: Price of one row per draw
        processingFeeSingleWeek:
          type: number
          format: decimal
          default: 0
          description: |
            Bearbeitungsentgelt for a Spielauftrag covering at most one week.

            The lottery company charges this once per ticket, on top of the
            rows, and the rate depends on how long the order runs. Optional: a
            syndicate that is not charged one leaves both at zero.
        processingFeeMultiWeek:
          type: number
          format: decimal
          default: 0
          description: Bearbeitungsentgelt for a Spielauftrag running longer than one week

    ChangeTippYearStatusCommand:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [planned, running, closed, distributed]
          description: |
            The target status. Every transition is allowed; only a second running tipp year
            and setting the status that is already set are rejected.

    AddMemberCommand:
      type: object
      required:
        - participantId
      properties:
        participantId:
          type: integer
        joinedAt:
          type: string
          format: date-time
          nullable: true
          description: Defaults to now

    SubmitTicketCommand:
      type: object
      required:
        - periodStart
        - durationWeeks
        - drawDays
      properties:
        periodStart:
          type: string
          format: date
          description: The day the Spielauftrag is handed in - its first day
        durationWeeks:
          type: integer
          minimum: 1
          maximum: 52
          description: |
            Laufzeit in weeks. The period runs from `periodStart` over this many whole
            weeks, so its last day is `periodStart + durationWeeks * 7 - 1`.
        drawDays:
          type: string
          enum: [wednesday, saturday, both]
          description: |
            Which of the two weekly draws the ticket takes part in. 6 aus 49 is drawn on
            Wednesday and Saturday, holidays included, so the number of draws is
            `durationWeeks` times one or two - it is derived, never sent.
        superzahl:
          type: integer
          minimum: 0
          maximum: 9
          nullable: true
          description: From the ticket's lot number; applies to every row on it
        lotteryReference:
          type: string
          nullable: true

    DistributePayoutCommand:
      type: object
      required:
        - confirm
      properties:
        confirm:
          type: boolean
          description: Must be true - the distribution cannot be taken back
        note:
          type: string

    # ============================================
    # COMMON
    # ============================================

    CommandResponse:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
        status:
          type: string
          enum: [accepted, processing, completed]
        message:
          type: string
        resourceId:
          type: integer
          nullable: true
        timestamp:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      description: |
        **`message` is localised to `Accept-Language` where a translation exists.**
        The header is read as the weighted list it is (`de-DE,de;q=0.9,en;q=0.8`), the region
        is ignored (`de-AT` is served by the German catalogue), and anything without a
        catalogue falls back to English. German and English are available.

        The values a message fills in - names, dates, numbers, and in a few places a status
        as this API spells it - are **not** translated: telling a term of the domain from
        somebody's name is a guess, and getting it wrong renames a person.

        `error` is not localised. It names the status, is the same in every language, and is
        what a client should branch on.
      properties:
        error:
          type: string
          description: The status in words, always English - meant for the client, not the reader
        message:
          type: string
          description: What went wrong, in the caller's language where that is known
        details:
          type: object
          nullable: true
        timestamp:
          type: string
          format: date-time
        path:
          type: string

  responses:
    UnauthorizedError:
      description: |
        No token, no readable token, or no valid token.

        The response deliberately does not name the reason: which check a token failed is a
        description of the validation rules, and therefore a feedback loop for the next
        forgery attempt. The reason goes to the log.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServiceUnavailableError:
      description: |
        The identity provider is unreachable; the signature can currently neither be
        confirmed nor refuted.

        Deliberately not `401`: a `401` would make every client throw away its intact token
        and log in again at precisely the place we already know is not working. The call is
        repeatable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ForbiddenError:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    BadRequestError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ConflictError:
      description: Request conflicts with the current state of the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
